.interestCard:hover {
  cursor: pointer;
  box-shadow: 2px 4px 23px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 23px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 23px 1px rgba(0, 0, 0, 0.75);
}

.interestPanel{
    display: grid;
    grid-template-columns: 80% 20%;
}