.flip-enter {
  transform-style: preserve-3d;
  transform: rotateY(90deg);
}
.flip-enter-active {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 500ms ease-in-out;
}
.flip-exit {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.flip-exit-active {
  transform-style: preserve-3d;
  transform: rotateY(90deg);
  transition: transform 500ms ease-in-out;
}

.testCard {
  transform-style: preserve-3d;
}
