.img-mask {
    width: 50vw;
    height: 50vw;
    border-radius: 163px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }
.img-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 50vw;
}
.section-container{
    margin-top: 2px;
}