.red-body{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 90% 10%;
}

.red-canvas{
    width: 100%
}

.newUserHelpContainer{
    width: 100%;
    position: absolute;
    z-index: 99;
}